<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkJvb2sgb2YgQ2hh
		bGxlbmdlcyAtIE5hcG9saSBFZGl0aW9uIiwicGFja2FnZUtpbmQiOnsicm9v
		dCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5h
		bWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJvZHVjdHMiOlt7Im5h
		bWUiOiJCb29rIG9mIENoYWxsZW5nZXMgLSBOYXBvbGkgRWRpdGlvbiIsInNl
		dHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS5jaGFsbGVuZ2Uu
		Y2hvb3NlIl19LHsidGVhbUlkZW50aWZpZXIiOlsiVDY2Tjg1WktCVyJdfSx7
		ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsi
		MSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENv
		bG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYmx1ZSJ9fX0sImFw
		cENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5i
		b29rcyJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19
		LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6
		WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlv
		bnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsi
		bGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNv
		bmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0
		YXJnZXRzIjpbIkFwcCJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0s
		InRhcmdldE1hcCI6eyJBcHAiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJBcHAiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0
		aCI6IkFwcCIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6
		ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W10s
		ImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwIiwicGFja2FnZUFjY2VzcyI6ZmFs
		c2UsInBhdGgiOiJBcHAiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNp
		b24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		vZpZofCJmAzaGk+hII2MiP53cPVQSAQyH0CbGg8HyPs=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
